*{
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100vh;
    width: 60vw;
    background-color: #fff;
    border: 4px solid blue;
    padding: 25px;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile{
    height: 120px;
    width: 120px;
    
}

.notifications-image{
    height: 45px;
    width: 45px;
    padding: 10px;
}

.toggle-image{
    height: 45px;
    width: 45px;
    padding: 10px;
}
.input-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    height: 100px;
    width: 850px;
}
.image{
    height: 95px;
    width: 90px;
    padding: 25px;
}
.images-container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image2{
    height: 80px;
    width: 80px;
    margin: 50px;
}
.images-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 125px;
}
.image3{
    height: 80px;
    width: 70px;
}
.name{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}